<!DOCTYPE html>



<html>
    <head>
        <meta charset="utf-8" />
		<link href="/css/style.css" rel="stylesheet" type="text/css">
    </head>
	
	 <div id="banniere_image">
                
	</div>
	 
    <body>
        <header>
            <h1> </h1>

        </header>
        
        <nav>
            <ul>
                <li><a href="/">HOME</a></li>
                <li><a href="/images">IMAGES</a></li>
                <li><a href="/containers">CONTAINERS</a></li>
                <li><a href="/nodes">NODES</a></li>
            </ul>
        </nav>
        
        <section>
        	
            <article>  
                          
                <h1>Welcome to the Containers page ! </h1>
                <blockquote>
                <p>On this web page you can manage our cloud:</p>
                <blockquote> <p>List of the images</p>
                <p>List of the containers </p>
                <p>List of the nodes</p>
                </blockquote>
                </blockquote>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>

            </article>
        </section>
        
        <footer>
        	
        	<center>
				<img src="../public/images/footer.png">
			</center>
        	
          	    
        	
        </footer>
        
    </body>
</html>






