<!DOCTYPE html>



<html>
    <head>
        <meta charset="utf-8" />
		<link href="/css/style.css" rel="stylesheet" type="text/css">
    </head>
	
	 <div id="banniere_image">
                
	</div>
	 
    <body>
        <header>
            <h1> </h1>

        </header>
        
		<nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/images">Images</a></li>
                <li><a href="/servers">Manage</a></li>
            </ul>
        </nav>
        
        <section>
        	
            <article>  
                          
                <h1>Welcome to the Images page ! </h1>
                <blockquote>
                <blockquote> <p>List of the images</p>



				<head>
				<style>
				#customers
				{
				font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
				width:100%;
				border-collapse:collapse;
				}
				#customers td, #customers th 
				{
				font-size:1em;
				padding:3px 7px 2px 7px;
				}
				#customers th 
				{
				font-size:1.1em;
				text-align:left;
				padding-top:5px;
				padding-bottom:4px;
				background-color:#356095;
				color:#ffffff;
				}
				#customers tr.alt td 
				{
				color:#000000;
				background-color:#e0dfe2;
				}
				</style>
				</head>
				
				<body>
				<table id="customers">
				<tr>
				  <th><center>NAME</center></th>
				  <th><center>ID</center></th>
				  <th><center>CREATION</center></th>
				  <th><center>SIZE</center></th>
			  

				</tr>
				<tr>
				<td>container 1</td>
				<td>12DBJRI6IOUIJNNBV</td>
				<td>2014.03.19</td>
				<td>267890</td>
				<td>
					<input type="button" OnClick="javascript:window.location.reload()" value="RUN">
				</td>
				<td>
					<input type="button" OnClick="javascript:window.location.reload()" value="DELETE">
				</td>
				</tr>
				<tr class="alt">
				
				<td>container 2</td>
				<td>5R76T8OYIUHKJKLM</td>
				<td>2014.03.17</td>
				<td>1670</td>
				<td>
					<input type="button" OnClick="javascript:window.location.reload()" value="RUN">
				</td>
				<td>
					<input type="button" OnClick="javascript:window.location.reload()" value="DELETE">
				</td>
				</tr>
				
				</tr>
				<tr>
				<td>container 3</td>
				<td>KN8OLKJJLLNJNNBV</td>
				<td>2014.03.12</td>
				<td>890</td>
				<td>
					<input type="button" OnClick="javascript:window.location.reload()" value="RUN">
				</td>
				<td>
					<input type="button" OnClick="javascript:window.location.reload()" value="DELETE">
				</td>
				</tr>
				<tr class="alt">
				
				<td>container 4</td>
				<td>OYEHLJNUIJN9O9BV</td>
				<td>2014.03.10</td>
				<td>20</td>
				<td>
					<input type="button" OnClick="javascript:window.location.reload()" value="RUN">
				</td>
				<td>
					<input type="button" OnClick="javascript:window.location.reload()" value="DELETE">
				</td>
				</tr>
				
				</table>
				</body>
                </blockquote>
                </blockquote>
                

            </article>
        </section>
        
        <footer>      	    
			Copyright Amélie Agaësse - Gustav Sterbrant - Jean-Baptise Funten - Jon Martin Mikalsen - Mats Järhem - All rights reserved <a href="http://www.ltu.se"><img src="../images/LTU.jpg" width="10%" height="10%"/></a>	
        </footer>
        
    </body>
</html>






