<section>
	<article class="center-block">  
		<h1><%= title %></h1>
		<p>Welcome to the YACS home page.</p>
		<p>This image illustrates an overview of the architecture used in YACS.</p>
		
		<img class="center-block" src="/images/architecture.png"/>
		
	</article>
</section>