<ul class="nav nav-pills">
  <li class="active">
    <a href="/" >Home</a>
  </li>
  <li> 
  	<a href="/servers">Servers</a>
  </li>
  <li>
  	<a href="/images">Images</a>
  </li>
  <li>
  	<a href="/manage?addr=127.0.0.1:2020&node=b8ed02a0d43e8c3f2a5dd21ee18711fa94fbbc52">Manage</a>
  </li>
</ul>

  <h1><%= title %></h1>
  <p>Welcome to <%= title %></p>