<ul class="nav nav-pills">
  <li class="active">
    <a href="/" >Home</a>
  </li>
  <li> 
  	<a href="/servers">Servers</a>
  </li>
  <li>
  	<a href="/images">Images</a>
  </li>
  <li>
  	<a href="/manage?addr=127.0.0.1:2020&node=c849bcca77283bef16dd6d3146ca4bfd16a7f7bd">Manage</a>
  </li>
</ul>

  <h1><%= title %></h1>
  <p>Welcome to <%= title %></p>