<ul class="nav nav-pills">
  <li class="active">
    <a href="/" >Home</a>
  </li>
  <li> 
  	<a href="/servers">Servers</a>
  </li>
  <li>
  	<a href="/manage">Manage</a>
  </li>
</ul>

  <h1><%= title %></h1>
  <p>Welcome to <%= title %></p>