<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title> 
    <meta charset="utf-8" />
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link href="/css/style.css" rel="stylesheet" type="text/css">
	<script src="/javascripts/lib/util.js" type="text/javascript"></script>
    <script src="/javascripts/lib/uuid.js" type="text/javascript"></script>
	<script src="/javascripts/lib/aes.js" type="text/javascript"></script>
	<script src="/javascripts/lib/mode-cfb-min.js" type="text/javascript"></script>
	<script src="/javascripts/lib/pad-nopadding-min.js" type="text/javascript"></script>
	<script src="/javascripts/lib/pad-zeropadding-min.js" type="text/javascript"></script>
	<script src="/javascripts/lib/sha1.js" type="text/javascript"></script>
	<script src="/javascripts/lib/msg.js" type="text/javascript"></script>
	<script src="/javascripts/lib/websocket.js" type="text/javascript"></script>
	<script src="/javascripts/lib/bitverse.js" type="text/javascript"></script>
	<script src="/javascripts/lib/edgenode.js" type="text/javascript"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
    <script src="/javascripts/manage.js" type="text/javascript"></script>
    <script src="/javascripts/servers.js" type="text/javascript"></script>
	<script src="/javascripts/supernode.js" type="text/javascript"></script>
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.js"></script> 
  </head>
  <body>
	<div class="navbar navbar-fixed-top">
	  <div class="navbar-inner">
  		<ul class="nav nav-center">
            <li><a href="/">Home</a></li>
            <li><a href="/servers">SuperNodes</a></li>
            <li><a href="/images">Images</a></li>
        </ul>
	  </div>
	</div>
	<div class="container">
		<div id="banniere_image"></div>
		<%- body %>
    </div>
  </body>
  <footer>      	    
	Copyright Amélie Agaësse - Gustav Sterbrant - Jean-Baptise Funten - Jon Martin Mikalsen - Mats Järhem - Vu-Hieu Le - All rights reserved <a href="http://www.ltu.se"><img src="../images/LTU.jpg" width="10%" height="10%"/></a>	
  </footer>
</html>