<!DOCTYPE html>
<html>
  <script src="/javascripts/gui.js" type="text/javascript"></script>
  <script src="/javascripts/servers.js" type="text/javascript"></script>
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
  <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.js"></script>
  <head>
    <title><%= title %></title> 
    <meta charset="utf-8" />
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link href="/css/style.css" rel="stylesheet" type="text/css">
  </head>
  <body>
	<div class="navbar navbar-fixed-top">
	  <div class="navbar-inner">
	  </div>
	</div>
	<div class="container">
		<div id="banniere_image"></div>
		<%- body %>
    </div>
  </body>
  <footer>      	    
	Copyright Amélie Agaësse - Gustav Sterbrant - Jean-Baptise Funten - Jon Martin Mikalsen - Mats Järhem - Vu-Hieu Le - All rights reserved <a href="http://www.ltu.se"><img src="../images/LTU.jpg" width="10%" height="10%"/></a>	
  </footer>

</html>