<!DOCTYPE html>

<ul class="nav nav-pills">
  <li>
    <a href="/" >Home</a>
  </li>
  <li > 
  	<a href="/servers">Servers</a>
  </li>
  <li class="active">
  	<a href="/manage">Manage</a>
  </li>
</ul>


<html>
	<h1><%= title %></h1>
  	<p>Welcome to <%= title %></p>
  	
  	<h3> Images </h3>
  	<button class="btn btn-primary" type="button" onclick="CreateImageList()">Get images</button>
     <table class="table table-striped">
     	<thead>
     		<tr>
     			<th>#</th>
     			<th>Name</th>
     			<th></th>
     		</tr>
     	</thead>
     	<tbody id="images_body">
     	</tbody>
     </table>
     
     <h3> Containers </h3>
     <button class="btn btn-primary" type="button" onclick="CreateContainerList()">Get containers</button>
      <table class="table table-striped">
     	<thead>
     		<tr>
     			<th>#</th>
     			<th>Name</th>
     			<th>ID</th>
     			<th></th>
     		</tr>
     	</thead>
     	<tbody id="containers_body">
     	</tbody>
     </table>
     
</html>






