<!DOCTYPE html>

<ul class="nav nav-pills">
  <li>
    <a href="/" >Home</a>
  </li>
  <li > 
  	<a href="/servers">Servers</a>
  </li>
  <li class="active">
  	<a href="/manage">Manage</a>
  </li>
</ul>


<html>
	<h1><%= title %> Edge-node</h1>
  	
  	<h3 id="avail_img_head"> Images available: 0</h3>
  	<button class="btn btn-primary" type="button" onclick="CreateImageList()">Refresh images</button>
  	<button type="button" class="btn btn-info" data-toggle="collapse" data-target="#images_div"> Show table</button>
	<div id="images_div" class="collapse">
	     <table class="table table-striped">
	     	<thead>
	     		<tr>
	     			<th>#</th>
	     			<th>Name</th>
	     			<th></th>
	     		</tr>
	     	</thead>
	     	<tbody id="images_body">
	     	</tbody>
	     </table>
     </div>
     <br/>
     <h3 id="avail_cont_head"> Containers available: 0 </h3>
     <button class="btn btn-primary" type="button" onclick="CreateContainerList()">Refresh containers</button>
     <button type="button" class="btn btn-info" data-toggle="collapse" data-target="#containers_div"> Show table</button>
     <div id="containers_div" class="collapse">
	     <table class="table table-striped">
	     	<thead>
	     		<tr>
	     			<th>#</th>
	     			<th>Name</th>
	     			<th>ID</th>
	     			<th></th>
	     		</tr>
	     	</thead>
	     	<tbody id="containers_body">
	     	</tbody>
	     </table>
     </div>
     
</html>






