<!DOCTYPE html>
<html>	                	 
    <body>
        <section>
            <article class="center-block">  
                          
			<h1><%= title %> page </h1>
			
			<div class="row">
				<div class="col-md-6">
					<table id="searchtable" class="table">
					
					<% var serverList = []; %>
					<% for (var server in servers) { %>
					<% serverList.push(servers[server]); %>
					<% }; %>
					<script>
						SetupSearch('searchtable');
					</script>
					</table>
					
					<button class="btn btn-default" onclick="PerformSearch('<%= serverList %>')">Search</button>
					<label class="hidden" id="serversearchlabel">No server found</label>
				</div>
				<div class="col-md-6">
					<table id="nodelist" class="table table-striped table-hover table-bordered">
					<script>
						SetupNodes('nodelist');
					</script>
					</table>
				</div>
			</div>

            </article>
        </section>
    </body>
</html>






