<!DOCTYPE html>
<html>	                	 
    <body>
        <section>
            <article>  
                          
			<h1><%= title %> page </h1>
			
			<body>
				<div class="table-responsive">
					<table id="searchtable" class="table">
					
					<% var serverList = []; %>
					<% for (var server in servers) { %>
					<% serverList.push(servers[server]); %>
					<% }; %>
					<script>
						
						UpdateTable('searchtable');
					</script>
					</table>
					
					<button class="btn btn-default" onclick="PerformSearch('<%= serverList %>')">Search</button>
					<label class="hidden" id="serversearchlabel">No server found</label>
				</div>
			</body>               

            </article>
        </section>
    </body>
</html>






