<!DOCTYPE html>

<ul class="nav nav-pills">
  <li>
    <a href="/" >Home</a>
  </li>
  <li class="active"> 
  	<a href="/servers">Servers</a>
  </li>
  <li>
  	<a href="/images">Images</a>
  </li>
  <li>
  	<a href="/manage">Manage</a>
  </li>
</ul>


<html>	                	 
    <body>
        <section>
            <article>  
                          
                <h1><%= title %> management page </h1>
                
                <p>Servers</p>

			<body>
			<table class="table table-hover table-bordered" id="serverlist">
			<tr>
			  <th><center>Name</center></th>
			  <th><center>IP</center></th>
			  <th><center>Status</center></th>
			  <th><center>Action</center></th>
			</tr>			
			
			<% for (var server in servers) %>
			<tr>
				<td>Core server 1</td>
				<td id="server1ip"><%= servers.server1 %></td>
				<td id="server1status">Online</td>
				<td>
					<input type="button" OnClick="CheckOnline('server1ip', 'server1status')" value="Manage">
				</td>
			</tr>
			
			<tr class="alt">			
				<td>Core server 2</td>
				<td id="server2ip">130.240.134.117</td>
				<td id="server2status">Online</td>
				<td>
					<input type="button" OnClick="CheckOnline('server2ip', 'server2status')" value="Manage">
				</td>
			</tr>
			
			</tr>
			
			<tr>
			<td>Core server 3</td>
			<td id="server3ip">130.240.134.118</td>
			<td id="server3status">Online</td>
			<td>
				<input type="button" OnClick="CheckOnline('server3ip', 'server3status')" value="Manage">
			</td>
			</tr>
			
			<tr class="alt">			
			<td>Core server 4</td>
			<td id="server4ip">130.240.134.119</td>
			<td id="server4status">Online</td>
			<td>
				<input type="button" OnClick="CheckOnline('server4ip', 'server4status')" value="Manage">
			</td>
			</tr>
			
			</table>
			</body>               

            </article>
        </section>
    </body>
</html>






