<!DOCTYPE html>
<html>	                	 
    <body>
        <section>
        <ol class="breadcrumb">
		  <li><a href="/servers">Servers </a></li>
		  <li> / </li>
		  <li class="active">SuperNode</li>
		</ol>
            <article>  
                          
			<h1>EdgeNodes of <%= server %></h1>
			<body>
			
			<table class="table table-bordered table-striped">
				<thead>
					<tr>
					  <th><center>ID</center></th>
					  <th><center>Tags</center></th>
					  <th><center>Manage</center></th>
					</tr>	
				</thead>
				
				<tbody id="edgenodelist">
					<script>
						SetupEdgeNodes('edgenodelist');
					</script>
				</tbody>
			</table>
			</body>               

            </article>
        </section>
    </body>
</html>






