/* Eléments principaux de la page */

body
{
    font-family: 'Trebuchet MS', Arial, sans-serif;
    color: #181818;
}

#bloc_page
{
    width: 900px;
    margin: auto;
}

section h1, footer h1, nav a
{
    font-family: 'Trebuchet MS', Arial, sans-serif;
    font-weight: normal;
    text-transform: uppercase;
}

/* Header */

header
{
    background: url('separateur.png') repeat-x bottom;
}

#titre_principal
{
    display: inline-block;
}



#logo, header h1
{
    display: inline-block;
    margin-bottom: 20px;
}



/* Navigation */

nav
{
    display: inline-block;
    width: 740px;
    text-align:  justify;
}

nav ul
{
    list-style-type: none;
}

nav li
{
    display: inline-block;
    margin-right: 15px;
}

nav a
{
    font-size: 1.3em;
    color: #181818;
    padding-bottom: 3px;
    text-decoration: none;
}

nav a:hover
{
    color: #760001;
    border-bottom: 3px solid #760001;
}






#banniere_image { 
background : transparent url("YACSb.png") no-repeat; 
height : 200px; 
width : 401px; 
margin : 0 auto; 


} 


/* Corps */

article, aside
{
    display: inline-block;
    vertical-align: top;
    text-align: justify;
}






/* Footer */

footer
{
    background:  url('separateur.png') repeat-x top
    padding-top: 25px;
}

footer p, footer ul
{
    font-size: 0.8em;
}

footer h1
{
    font-size: 1.1em;
}




/* Correctifs pour les vieilles versions d'Internet Explorer */

/* Pour activer un positionnement type inline-block sur les vieilles versions d'IE */

.old_ie #titre_principal, .old_ie #logo, .old_ie header h1, .old_ie nav, .old_ie nav li, .old_ie .bouton_rouge, .old_ie article, .old_ie aside, .old_ie #tweet, .old_ie #mes_photos, .old_ie #mes_amis, .old_ie #mes_amis ul
{
    display: inline;
    zoom: 1;
}

/* Quelques ajustements pour les vieilles versions d'IE */

.old_ie section h1, .ie8 section h1
{
    font-size: 1.1em;
}

.old_ie footer div, .ie8 footer div
{
    margin-top: 30px;
    background: url('images/separateur.png') repeat-x top;
}

